@page "{Billings_Id:min(1)?}/{handler?}"
@model SmartMeterWebApp.Pages.Subscribers.DetailmeterModel
@{
    ViewData["Title"] = "Detail Meter";
    Layout = "~/Pages/Subscribers/Shared/_LayoutB.cshtml";
}

<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">

        <h2>Detail Meter</h2>
        <div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="clearfix"></div>
                        <br />
                        <br />
                        <table class="table table-borderless table-hover table-striped table-condensed table-earning">

                            <tr>
                                <td>STAKEHOLDER ID</td>
                                <td>@Model.billingInfo.STAKEHOLDER_ID</td>
                            </tr>
                            <tr>
                                <td>SUBSCRIBER ID</td>
                                <td>SMtBV5jXX-@Model.billingInfo.SUBSCRIBER_ID</td>
                            </tr>
                            <tr>
                                <td>DEvice Id</td>
                                <td>@Model.billingInfo.DEviceId</td>
                            </tr>

                            <tr>
                                <td>Device Name</td>
                                <td>@Model.billingInfo.Device_Name</td>
                            </tr>
                            <tr>
                                <td>Meter Usage</td>
                                <td>@Model.billingInfo.EnergyConsumedFor30Days</td>
                            </tr>

                            <tr>
                                <td>Amount To Be Paid</td>
                                <td>NGN @Model.billingInfo.AmountToPay.ToString("N")</td>
                            </tr>

                            <tr>
                                <td>Total Usage For The Month (Hr)</td>
                                <td>@Model.billingInfo.USAGE_DURATION</td>
                            </tr>

                        </table>
                        <div class="clearfix"></div>
                        <hr />

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

