@page
@model SmartMeterWebApp.Pages.Subscribers.PaymentpageModel
@{
    ViewData["Title"] = "Paymentpage";
    Layout = "~/Pages/Subscribers/Shared/_LayoutB.cshtml";
}

<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">

        <h2>Payment Details</h2>
        <div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="clearfix"></div>
                        <br />
                        <br />
                        <br />

                        <table class="table table-borderless table-hover table-striped table-condensed table-earning">
                            <tr>
                                <td>STAKEHOLDER ID</td>
                                <td>@Model.payInfo.STAKEHOLDER_ID</td>
                            </tr>
                            <tr>
                                <td>SUBSCRIBER ID</td>
                                <td>SMtBV5jXX-@Model.payInfo.SUBSCRIBER_ID</td>
                            </tr>
                            <tr>
                                <td>First Name</td>
                                <td>@Model.payInfo.First_Name</td>
                            </tr>

                            <tr>
                                <td>Last Name</td>
                                <td>@Model.payInfo.Last_Name</td>
                            </tr>
                            <tr>
                                <td>Phone Number</td>
                                <td>@Model.payInfo.Phone</td>
                            </tr>

                            <tr>
                                <td>Amount To Be Paid</td>
                                <td>NGN @Model.payInfo.AmountToPay.ToString("N")</td>
                                @*<td>NGN @Decimal.Round(Model.billingInfo.AmountToPay, MidpointRounding.AwayFromZero)</td>*@
                            </tr>

                            <tr>
                                <td>Total Usage For The Month (Hr)</td>
                                <td>@Model.payInfo.USAGE_DURATION</td>

                            </tr>

                        </table>

                        <div class="clearfix"></div>
                        <hr />
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>