@page
@model SmartMeterWebApp.Pages.Stackholders.BillingListModel
@{
    //Layout = "~/Pages/Stackholders/Shared/_Layout.cshtml";
    Layout = "~/Pages/Stackholders/Shared/_LayoutA.cshtml";
    ViewData["Title"] = "BillingList";
    //Layout = "~/Pages/Shared/_Layout.cshtml";
}




    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <a asp-area="" asp-page="/Stackholders/EditDevice" data-toggle="tooltip" title="" class="btn btn-primary"
               data-original-title="Add New Devices "><i class="fa fa-plus"></i>&nbsp;New Billings</a>

            <h2>Billing  List</h2>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="pull-right">
                            <div class="btn-group ">
                                <button type="button" class="btn btn-primary">Export To</button>
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Excel", "ExportTo", new { ReportType = "Excel" })</li>
                                    <li>@Html.ActionLink("PDF", "ExportTo", new { ReportType = "PDF" })</li>
                                    <li>@Html.ActionLink("Word", "ExportTo", new { ReportType = "Word" })</li>
                                </ul>
                            </div>
                        </div>

                        @*<form method="get">
                        <div class="input-group">
                            <input class="form-control" placeholder="Device Id" asp-for="SearchTerm">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i>Search</button>
                            </div>
                        </div>
                    </form>*@
                        <form method="get">
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="control-label" for="subscriberId">Billings Id</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <input name="SearchTerm" value="" placeholder="Device Id" asp-for="@Model.SearchTerm" class="form-control" type="text"><ul class="dropdown-menu"></ul>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" id="button-filter" class="btn btn-primary">
                                        <i class="fa fa-search"></i> Search
                                    </button>
                                </div>
                            </div>
                            <br /><br />
                            <div class="row">
                                <div class="col-md-2">
                                    <label asp-for="@Model.StartDate"></label>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input asp-for="@Model.StartDate" />
                                    </div>
                                </div>


                                <div class="col-md-2">
                                    <label asp-for="@Model.EndDate"></label>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input asp-for="@Model.EndDate" />
                                    </div>
                                </div>

                            </div><br /><br />


                        </form>
                        @if (Model.billingsRealData.ToList()?.Count > 0)
                        {
                            <div class="table-responsive table--no-card m-b-30">
                                <table id="DataTable" style="width:100%;" class="table table-borderless table-hover table-striped table-earning">

                                    @*<div class="table-responsive">
                                <table id="DataTable" style="width:100%;" class="table table-bordered table-hover">*@
                                    <thead>
                                        <tr>
                                            @*<th><input type="checkbox" id="checkBoxAll" class="custom-checkbox" /></th>*@
                                            @*<th><strong>BILLINGS  ID</strong></th>*@
                                            <th><strong>STAKEHOLDER ID</strong></th>
                                            <th><strong>SUBSCRIBER ID</strong></th>
                                            <th><strong>DEVICE ID</strong></th>
                                            <th><strong>DEVICE NAME</strong></th>
                                            <th><strong>DATE OF TRANSACTION</strong></th>
                                            <th><strong>MONTHLY USAGE DURATION (Hr)</strong></th>
                                            <th><strong>TOTAL ENERGY CONSUMED FOR 30DAYS</strong></th>
                                            <th><strong>AMOUNT TO PAY (₦) </strong></th>
                                            <th><strong>LGA</strong></th>
                                            <th><strong>BUS STOP</strong></th>
                                            <th> </th>
                                        </tr>

                                    </thead>


                                    @foreach (var models in Model.billingsRealData)
                                    {
                                        <tbody>
                                            <tr>
                                                @*<td><input type="checkbox" name="ID" value="@models.DEviceId" class="custom-checkbox chkCheckBoxId" /></td>*@
                                                @*<td>  <strong>@models.Billings_Id </strong><br />  </td>*@
                                                <td>@models.STAKEHOLDER_ID</td>
                                                <td>SMtBV5jXX-@models.SUBSCRIBER_ID</td>
                                                <td>@models.DEviceId</td>
                                                <td>@models.Device_Name</td>
                                                <td>@string.Format("{0:F}", models.TIME_OF_TRANSACTION)</td>
                                                <td>@models.USAGE_DURATION</td>
                                                <td>@models.EnergyConsumedFor30Days</td>
                                                <td>@Decimal.Round(models.AmountToPay, MidpointRounding.AwayFromZero)</td>
                                                <td>@models.Lga</td>
                                                <td>@models.Bus_Stop</td>

                                                <td>
                                                    @*<a asp-page="/Stackholders/DeleteBilling" asp-route-Device_ID="@Model.Billings_ID" class="btn btn-danger">Delete Billings</a>
                                                <a asp-page="/Stackholders/BillingDetail" asp-route-Device_ID="@Model.Billings_ID" class="btn btn-primary">View Details</a>*@

                                                </td>
                                            </tr>
                                        </tbody>
                                    }
                                </table>
                            </div>



                        }
                    </div>

                </div>

            </div>
        </div>
        </div>
