@page
@model SmartMeterWebApp.Pages.Stackholders.ViewTariffModel
@{
    ViewData["Title"] = "ViewTariff";
    //Layout = "~/Pages/Stackholders/Shared/_Layout.cshtml";
    Layout = "~/Pages/Stackholders/Shared/_LayoutA.cshtml";
}

<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <h2>View Tariff</h2>
        <div>
            <a asp-area="" asp-page="/Stackholders/EditTarrif" data-toggle="tooltip" title="" class="btn btn-primary"
               data-original-title="Add New Tariffs "><i class="fa fa-plus"></i>&nbsp;New Tariffs</a>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">


                        @if (Model.AlltarrifInfo.ToList()?.Count > 0)
                        {
                            <div class="table-responsive table--no-card m-b-30">
                                <table class="table table-borderless table-hover table-striped table-earning">

                                    <thead>
                                        <tr>
                                            <th><strong>TARRIF ID</strong></th>
                                            <th><strong>STAKEHOLDER_ID</strong></th>
                                            <th><strong>TypeOfHouse</strong></th>
                                            <th><strong>AMOUNT</strong></th>

                                            <th> </th>
                                        </tr>

                                    </thead>


                                    @foreach (var models in Model.AlltarrifInfo)
                                    {
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <strong>@models.Tarrif_Id </strong><br />

                                                </td>
                                                <td>@models.STAKEHOLDER_ID</td>
                                                <td>@models.TypeOfHouse</td>
                                                <td>@models.TarrifAmount</td>

                                                <td>
                                                    <a asp-page="/Stackholders/EditTarrif" asp-route-Tarrif_ID="@models.Tarrif_Id" class="btn btn-primary">Edit</a>

                                                </td>
                                            </tr>
                                        </tbody>

                                    }
                                </table>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>