@model SmartMeterWebApp.Pages.Stackholders.BillingTrModel

@if (TempData["Msg"] != null)
{<div class="alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        @TempData["Msg"].ToString()
    </div>}
<table class="table table-responsive table-bordered table-striped table-hover">
    <tr class="info">

        @*<th>@Html.CheckBox("selectall")</th>
        <div class="table-responsive">
            <table id="DataTable" style="width:100%;" class="table table-bordered table-hover">*@
                <thead>
                    <tr>
                        <th>@Html.CheckBox("selectall")</th>
                        @*<th><input type="checkbox" id="checkBoxAll" class="custom-checkbox" /></th>*@
                        @*<th><strong>BILLINGS  ID</strong></th>*@  @*id="checkAll"class="checkBox"*@

                        <th><strong>DEVICE ID</strong></th>
                        <th><strong>ENERGY CONSUMEDkWh</strong></th>
                        <th><strong>VOLTAGE READING</strong></th>
                        <th><strong>POWER READING</strong></th>
                        <th><strong>CONNECTION STATUS</strong></th>
                        <th><strong>USAGE DATE OF TRANSACTION</strong></th>
                        @*<th><strong>ENDDATE OF TRANSACTION</strong></th>*@
                        <th> </th>
                    </tr>

                </thead>


                @foreach (var models in Model.AllSmartMetersRealInfo)
                {
                    <tbody>
                        <tr>
                            <td>
                                @Html.CheckBox(models.DeviceId.ToString(), false, new { @class = "ckb", Id = models.DeviceId })
                            </td>

                            @*<td><input type="checkbox" name="DeviceId" value="@models.DeviceId" class="custom-checkbox chkCheckBoxId" /></td>*@
                            @*class="checkBox"*@

                            <td> <strong>@models.DeviceId </strong><br /> </td>
                            <td>@models.EnergyAmountkWh</td>
                            <td>@models.VoltageReading</td>
                            <td>@models.PowerReading</td>
                            <td>@models.ConnectionStatus</td>
                            <td>@string.Format("{0:F}", models.StartDatetime)</td>
                            @*<td>@string.Format("{0:F}", models.EndDatetime)</td>*@

                            <td>
                                @*<a asp-page="/Stackholders/DeleteBilling" asp-route-Device_ID="@Model.Billings_ID" class="btn btn-danger">Delete Billings</a>
                            <a asp-page="/Stackholders/BillingDetail" asp-route-Device_ID="@Model.Billings_ID" class="btn btn-primary">View Details</a>*@

                            </td>
                        </tr>
                    </tbody>
                }
            </table>
       @*</div>*@